data
knncmi
td2c_handbook/_build/
*.pyc
__pycache__
.ipynb_checkpoints
td2c_handbook/
reproduce/notebooks/*.pdf
reproduce/notebooks/*.png
reproduce/notebooks/REAL_analysis/
reproduce/notebooks/figures/
reproduce/notebooks/POSTER_analysis
.vscode/
*.txt
*.egg-info
merge.py
data.zip